.wrapper{
    margin: auto;
    max-width: 1000px;
    /* box-shadow: 0px 0px 10px 0px rgba(23,23,23,0.3); */
}
.uk-navbar-container ul li{
    font-weight: 600;
}
.main-footer{
    padding: 20px;
}
.main-footer,.main-footer div{
    background: #333;
    color: #bbb;
}
.main-footer li{
    list-style: square;
}
.main-footer a,.main-footer li a:hover{
    color: inherit;
}
/* a{
    color: inherit;
} */
.my-flex{
    display: flex;
    flex-wrap: wrap;
}
.my-col-40-s{
    width: 40%
}
.my-col-60-s{
    width: 60%
}
.my-col-3{
    width: 33.33%;
}
.my-sidebar{
}
.my-content{
}
@media screen and (max-width:640px){
    .my-sidebar{
    }
    .my-col-40-s,.my-col-60-s{
        width: 100%
    }
    .my-col-3{
        width: 100%;
    }
}
.goto-top a{
    color: #bbb;
}
.float-right{
    float: right;
}
.padding-right{
    padding-right:20px;
}
.clearfix::after{
    content:"";
    display: block;
    clear: both;
}
.text-center{
    text-align: center;
}
.mwidget{

}
.mwidget-head{
    padding: 10px;
    padding-left:30px;
    color: #eee;
    background: #ea3e08;
}
.mwidget-list li{
    padding-top: 5px
}
.mwidget-list marquee{
    height: 100px;
}
.bg-color-1{
    color: #ccc;
    background-color: #905306;
}

.pg-thumb{
    display: inline-block;
    margin: 20px 10px;
    width: 300px;
    height: 300px;
    padding: 10px;
}
.pg-container{
    max-width: 1000px;
}
.pg-thumb img{
    padding: 0px;
    width: 300px;
    height: 300px;    
}
.table-width{
    max-width: 600px;
}
.uk-table td{
    border-right: 1px solid #333;
    border-collapse: collapse;
}
.uk-table{
    border: 1px solid #333;
}
.uk-table tbody tr:last-child{
    border-bottom: 1px solid #333;
}
.uk-table thead{
    color: #ddd;
    background: #555;
}
.table-width{
    margin-left:auto;
    margin-right:auto;
}
.uk-card-body{
    padding:10px 20px;
}

.uk-card-footer{
    /* background: rgb(22, 119, 184); */
}
.span-color{
    color: blue;
}
.people-list div{
    max-width: 400px;
    display: inline-block;
    margin: auto;
}
.people-list div img{
    max-width: 300px;
}